<strong>Hi, {{ organizer }}</strong>
<p> You have a new Subscribe at {{ meetup }}</p>
<p> Look who he is:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
